/*fix post data grid border*/
#wc .post-item .model-info div {
    width: 52%;
}

/*fix footer float bottom*/
#my-content {
    min-height: 93vh;
}

/*fix size login button*/
a.login-button > img {
    width: 100%;
    padding: 0;
    background: none;
}

/*fix background banner home page*/
.slogan {
    background: none;
}

/*fix page title*/
.title-down {
    color: #fff;
    font-size: 3.5vw;
    line-height: 11vw;
    font-family: 'Oswald Bold';
    letter-spacing: 2px;
}
img.btn-down {
    margin: 0px auto;
    width: 4.5%;
    margin-bottom: 10px;
}

/*fix data grid*/
#wc .post-item .model-info {
    padding: 9px 0 0 0 !important;
}

#wc .post-item-left {
    border-right-width: 1px;
}

#wc .post-item-right {
    border-left-width: 1px;
}

#wc .post-item {
    border-top-width: 2px;
}