/*
html, body {
    height: 100%;
}
#wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: 30px;
    text-align: center;
}
footer {
    clear: both;
    position: relative;
    height: 30px;
    margin-top: -30px;
}
#wrap header{
    margin-top: 30px;
    margin-bottom: 30px;
}
#wrap header a{
    overflow: hidden;
}
#wrap header a img.logo{
    width: 360px;
    height: auto;
}
.container a.btn-login{
    background: #eff0f7;
    background-image: -webkit-linear-gradient(top, #eff0f7, #fff);
    background-image: -moz-linear-gradient(top, #eff0f7, #fff);
    background-image: -ms-linear-gradient(top, #eff0f7, #fff);
    background-image: -o-linear-gradient(top, #eff0f7, #fff);
    background-image: linear-gradient(to bottom, #eff0f7, #fff);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-shadow: 0px 1px 3px #666666;
    -webkit-box-shadow: 1px 0px 10px #666666;
    -moz-box-shadow: 1px 0px 10px #666666;
    box-shadow: 1px 0px 10px #666666;
    font-family: Arial;
    color: #332f33;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    display: block;
    width: 160px;
    margin: 10px auto;
}
.container a.btn-login:hover{
    background: #fff;
    background-image: -webkit-linear-gradient(top, #fff, #eff0f7);
    background-image: -moz-linear-gradient(top, #fff, #eff0f7);
    background-image: -ms-linear-gradient(top, #fff, #eff0f7);
    background-image: -o-linear-gradient(top, #fff, #eff0f7);
    background-image: linear-gradient(to bottom, #fff, #eff0f7);
    text-decoration: none;
}
form.register {
    max-width: 400px;
    margin: 0 auto;
}
form.register img.avatar{
    border-radius: 50%;
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 10px auto;
}
form.register .form-group{
    margin: 10px 0;
}
form.register .form-group label.title{
    text-align: left;
    margin: 0px;
    padding: 0px;
    float: left;
}
form.register .form-group label.error{
    float: left;
    font-weight: 500;
    color: #db3939;
    margin:  0;
    float: right;
}
form.register .form-group input.error{
    border-color: #db3939;
    color: #db3939;
}
form.register .form-group .checkbox{
    float: left;
}
form.register .form-group .checkbox .err_checkbox{
    float: left;
}
.static-page{
    padding-top: 10px;
}


*/
